.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

button,
input,
textarea {
    line-height: inherit;
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* ---------COMMON-------- */

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;       
}
}

@media screen and (min-width: 1158px) {
    .container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
}

/* -----------HEADER---------- */


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu, .contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37
}

@media screen and (min-width: 768px) {
    .burger-btn {
    display: none;
}

    .menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
    
    .contacts {
    font-style: normal;
    display: block;
}
    .header-nav {
    display: flex;
    align-items: center;
}
    .header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.menu-link.current {
    position: relative;
}

.menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.menu-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.menu-link.current {
    color: #404bbf;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}



@media screen and (min-width: 1158px) {
    .header-logo {
    margin-right: 76px;
}

.contacts-list {
    align-items: center;
    gap: 40px;
    flex-direction: row;
}

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* --------------HERO------------ */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/office-mob-2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    line-height: 111%;
    display: block;
    margin-bottom: 72px;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/office-tab-2x.jpg);
        }
    }

    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/office-tab.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
}

    .hero-title {
    font-size: 56px;
    line-height: 107%;
    margin-bottom: 36px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    }
}

@media screen and (min-width: 1158px) {

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/office-pc-2x.jpg);
        }
    }

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/office-pc.jpg);
    padding-top: 188px;
     padding-bottom: 188px;
}

    .hero-title {
    margin-bottom: 48px;
    }
}
/* -------------FEATURES-------------- */
.information {
    padding-top: 96px;
    padding-bottom: 96px;
}
.box {
    display: none;
}

.information-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: space-between;
}
.information-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}

.information-item {
    display: block;
    width: 100%;
}

.information-item-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
.information-list {
    gap: 24px;
}
.information-item {
    width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
.information {
    padding-top: 120px;
    padding-bottom: 120px;
}

.box {
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    z-index: 99;
    position: absolute;
}

.information-item {
    width: calc((100% - 72px) / 4);
}

.information-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

}

.information-item-description {
    font-weight: 400;
}
}
/* ---------------TEAM--------------- */
.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}
.people {
    padding: 32px 0;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;
    flex-direction: column;
}
.team-item {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    margin: auto;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item:last-child {
}
.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}
.list-social {
    display: flex;
    gap: 24px;
    padding-top: 8px;
    justify-content: center;
}

.box-social {
    width: 40px;
    height: 40px;
}

.icon-social {
    fill: #f4f4fd;
}

.social-link {
    z-index: 99;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .team-conteiner {
        max-width: 584px;
    }
.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
flex-direction: row;
}

.team-item {
    display: block;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 4px 4px;
    margin: auto;
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 40px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item:nth-child(3) {
    margin-bottom: 0;
}
.team-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
}

@media screen and (min-width: 1158px) {
.team-conteiner {
    max-width: 1158px;
    }
.team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .people {
        padding: 32px 0;
    }

    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0;
        flex-direction: none;
    }

    .team-item {
    margin-bottom: 0;
    flex-direction: column;
    margin-right: 24px;
    flex-basis: calc((100% - 72px) / 4);
}
        }
/* ------------PORTFOLIO--------------- */
.cover {
    position: relative;
    overflow: hidden;
}

.cover-description {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4D5AE5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .cover-description,
.portfolio-item:focus .cover-description {
    transform: translateY(0);
}

.cover-description:hover {
    transform: translateY(0%)
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-content {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.portfolio-item {
    position: relative;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.portfolio-list {
    align-items: center;
    line-height: 1.11;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px) {

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        flex-direction: row;
    }
.portfolio-item {
    display: block;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 4px 4px;
    margin: auto;
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 47px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:nth-child(5) {
    margin-bottom: 0;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

}

@media screen and (min-width: 1158px) {

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-item{
    margin-bottom: 0;
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    flex-direction: row;

}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .cover-description, .portfolio-item:focus .cover-description{
    transform: translateY(0);
}

.cover-description:hover {
    transform: translateY(0%)
}
.portfolio-item:nth-child(4) {
    margin-bottom: 0;
}
.portfolio-item:nth-child(5) {
    margin-bottom: 0;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

}
/* ---------------FOOTER-------------- */
.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    padding: 1.5px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}
.logo-footer-part {
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    text-align: left;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-social-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.footer-list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-social {
    margin-bottom: 72px;
}
.footer-box-social {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-social {
    fill: #f4f4fd;
}

.subscribe-form {
    max-width: 288px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.subscribe-conteiner {
    margin-left: auto;
}

.subscribe-form label {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.footer-submit-btn {
    position: relative;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
}

.footer-submit-btn:focus, .footer-submit-btn:hover {
    background-color: #404BBF;
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    fill: #fff;
    margin-left: 16px;
}


@media screen and (min-width: 768px) {
.footer .container {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    }
.subscribe-conteiner {
    margin-left: 0;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;
    }
.footer-social-description { 
    text-align: start;
}
.subscribe-title {
    display: flex;
    text-align: start;
}
.subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 453px;
}

.footer-social {
    margin-bottom: 0;
}

.footer-input {
    width: 264px;
}
}


@media screen and (min-width: 1158px) {
.footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .logo-footer {
    padding: 0;

    }
.footer-social {
    margin-right: 80px;
}
    .footer .container {
        gap: 0;
        display: flex;
        align-items: baseline;

    }

    .footer-container {
        display: block;
        margin-right: 120px;
    }

    .footer-list-social {
        padding-top: 0;
    }
  
    .subscribe-form {
        max-width: 453px;
        display: flex;
        align-items: flex-end;
        gap: 24px;
    }

    .subscribe-form input {
        padding: 8px;
        padding-left: 16px;
    }

    .subscribe-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }

    .footer-input {
        width: 264px;
    }


}


/* -----------MODAL----------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    padding: 72px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    border-radius: 100%;
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn:focus {
    border-radius: 100%;
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.icon-close-black {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
/* name */
.modal-info {
    margin-bottom: 8px;
}
.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form {
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.modal-input:active {
    border: 1px solid #4D5AE5;
}

.modal-input:focus+.icon-black {
    fill: #4D5AE5;
}

.icon-black {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus+.icon-black {
    fill: #4D5AE5;
}
/* chackbox */
.modal-checkbox {
    margin-bottom: 16px;
}
.modal-checkbox-form {
    margin-bottom: 24px;
}

.modal-checkbox-texterea {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-texterea:focus {
    border-color: #4D5AE5;
}

.modal-form-bth {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.modal-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.modal-checkbox-input:checked+.checkbox-label span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.user-privacy-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;

}







/* @media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {} */
/* ------------MOBILE MENU------------ */




/* MOBIL-modal-menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* btn */

.icon-menu-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover {
    border-radius: 100%;
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mobile-menu-close:focus {
    border-radius: 100%;
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
}

/* item */

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-list {
}
.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobil-menu-link:hover,
.mobil-menu-link:focus,
.mobil-contacts-link:hover,
.mobil-contacts-link:focus {
    color: #404bbf;
}

.mobile-menu-item {
    margin-bottom: 40px;
}
.mobile-menu-item:last-child {
    margin-bottom: 0;
}
.menu-studio {
    color: #404bbf;
}

/* address */

.mobil-contacts {
    font-style: normal;
}

.mobil-contacts-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobil-nomber {
    color: #4d5ae5;
    margin-bottom: 24px;
}
/* sosial */

.mobil-social {
    padding-top: 48px;
    padding-bottom: 40px;
    margin: 0;
}

.mobil-list-social {
    display: flex;
    gap: 40px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
    display: none;
    }
}